<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="ctrl.js"></script>
<link href="style.css" rel="stylesheet" type="text/css">


<body ng-app="myApp">

<div  ng-controller="myCtrl as vm">
 

<p>{{ vm.Titulo }}</p>


</div>

</body>
</html>
